body { 
    height: 185vh; 
    margin: 0; 
    padding: 0;
}

div{
    background-color:rgba(255, 255, 255, 0.5);
}

div.head{
    display: block;
    width: 98.5vw; 
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: #e8dec7;
    border: 3px solid #ffd48f;
}

.city {
    width: 100vw; 
    height: 100vh;
    margin-bottom: -15px;
    display: flex; /* 使用 Flexbox 布局 */
}

.map{
    width: 35vw; /* 第一个盒子占据左边全部空间 */
    height: 100vh;
    border-left: 4px solid #9bc0ff;
}

.divider {
    width: 4vw; /* 设置中间分割线的宽度 */
    height: 100vh;
    background-color: #002F6C; /* 设置分割线的背景颜色 */
}

.divider2 {
    width: 4vw; /* 设置中间分割线的宽度 */
    background-color: #002F6C; /* 设置分割线的背景颜色 */
    height: 65vh;
    border-bottom: 4px solid #9bc0ff;
}


.cho_bar {
    display: flex; /* 右侧列使用 Flexbox 布局 */
    flex-direction: column; /* 垂直方向布局 */
    width: 59.5vw; /* 第二个盒子占据右边全部空间 */
    height: 100vh;
    border-right: 4px solid #9bc0ff;
}

.choose {
    display: flex;
    flex-direction: row;
    height: 10vh;
}

.timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
}

.choose-city {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
}

.in-or-out {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
}

.bar-chart {
    height: 90vh;
}

.citysvg {
    width: 100%;
    height: 100%;
}

.chartitle {
    display: flex;
    width: 99vw; 
    height: 60px;
    line-height: 20px;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff264;
    background-color: #002F6C;
}


div.subject{
    width: 100vw; 
    height: 100vh;
    margin-top: -15px;
    display: flex; /* 使用 Flexbox 布局 */
}

.cho-tab {
    width: 35vw; /* 第一个盒子占据左边全部空间 */
    height: 65vh;
    border-left: 4px solid #9bc0ff;
    border-bottom: 4px solid #9bc0ff;
}

div.subject-bar {
    display: flex; /* 右侧列使用 Flexbox 布局 */
    flex-direction: row; /* 水平方向布局 */
    width: 59.5vw; /* 第二个盒子占据右边全部空间 */
    height: 65vh;
    border-right: 4px solid #9bc0ff;
    border-bottom: 4px solid #9bc0ff;
}

.choose-subject {
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

table{
    height: 35vh;
    width: 30vw;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 10px;
}

.sub-chart {
    width:30vw;
}

#sub_time {
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
}

.bar-chart path.domain{
    fill:none;
    stroke-width:0.1px;
    stroke:black;
    shape-rendering: crispEdges;
}

.bar-chart g.tick text{
    font-size: 7px;
    font-style: italic
}

.bar-chart g.tick line{
    stroke: black;
}

.bar {
    fill: #7b7b7b;
}
.bar:hover {
    fill: rgba(12, 100, 106, 0.94);
}

.d3-tip {
padding: 12px;
background: rgba(0, 0, 0, 0.8);
color: #fff;
border-radius: 2px;
pointer-events: none;
}

.d3-tip:after {
box-sizing: border-box;
display: inline;
font-size: 10px;
width: 100%;
line-height: 1;
color: rgba(0, 0, 0, 0.8);
position: absolute;
pointer-events: none;
}

.d3-tip.n:after {
content: "\25BC";
margin: -3px 0 0 0;
top: 100%;
left: 0;
text-align: center;
}

.axis path{
    fill: none;
    stroke: black;}

.axis line
{
    stroke: rgb(133, 41, 41);
    stroke-width: 0.5px; /* 设置坐标轴线条的粗细 */
  }

.x-axis text{
    font-size: 10px; /* 设置字体大小 */
    font-family: sans-serif; /* 设置字体 */
}

#showdata{
    position:relative;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: #fff;

    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    
    pointer-events: none;
}

#showdata.hidden{
    display: none;
}

#showdata p{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height:20px;
}

.leaflet-popup-content-wrapper{
    font-size: 20px;
    width: 300px;
}

.leaflet-popup-content{
    width: 250px;
    background-color: rgba(0, 0, 0, 0.1);
}

div.leaflet-popup-tip-container{
    background-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.axis-label{
    font-size: 10px;
}

.table tbody tr td{
    vertical-align: middle;
    background-color: #00000000;
}

.table thead tr th{
    vertical-align: middle;
    background-color: #00000000;
}